@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body{
    font-size: 14px;
    background-color: #F1F2F5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #000;

}
a:hover{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container {
  padding: 10px 30px;
}












/* --- Verticle Text Cards ---- */

.verticle-cards{
  display:flex;
}

.card {
    background: #fff;
    width: 400px;
    height: 500px;
    margin-right: 20px;


  }

  .card h4{
    margin: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    
  }
  

  .card p{
    width: 339px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: #000;
    opacity: 0.6;
    
  }
  

  

/* --- Horizontal Text Cards ---- */
.horizontal-cards{
  display: flex;
}
.wrapper{
background: #fff;
display: flex;
width: 500px;
height: 400px;
margin-right: 20px;
}

.wrapper .item-1 {
width: 230px;
height: 500px;
}
.wrapper .item-2 {
    width: 250px;
    height: 500px;
    }
.wrapper h4{
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 18px;
color: #000;
text-transform: uppercase;

}

.wrapper .text{
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 15px;
line-height: 24px;
text-align: left;
color: #000;

}

.wrapper .text h4{
    margin-top: 35px;
    margin-bottom: 15px;
    opacity: 1;
    
    }

    .wrapper .text em{
        opacity: 0.6;
    }

.wrapper p{
    margin-top: 35px;
    opacity: 0.6;
    }






/* --- Horizontal Blog Card ---- */



  .blog-card{
    width: 1049px;
    height: 550px;
    background: #fff;
    display: flex;
    
  }



  .blog-card .item-1{
    width: 700px;
    height: 550px;
    background: transparent;
    
  }

  .blog-card .item-2{
    width: 280.5px;
    height: 446px;
    background: transparent;
    margin-left: 2rem;
    
  }
  .blog-card .item-2 .text{
    font-family: 'Roboto', sans-serif;
    color: #000;
    border-bottom: 1px solid #F1F2F5;
    margin-bottom: 15px;

}
  .blog-card .item-2 h4{
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    
  }

  .blog-card .item-2 h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 35px;
    
  }

  .blog-card .item-2 p{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 145px;
  }

  .blog-card .item-2 span{
    font-weight: normal;
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;

    
      }














/* --- Vertical Product Cards ---- */
.vpc{
  display: flex;
}
.product-card{
width: 400px;
height: 500px;
background: #fff;
overflow:hidden;
margin-right: 20px;

}
.stats-container{
	background:#fff;	
	width:325px;
	height:300px;
	padding:27px 35px 35px;	
}

.stats-container .product_name{
font-weight: 500;
font-size: 18px;
color: #000;
	
}
.stats-container p{
font-weight: 300;
font-size: 12px;
color: #000;
opacity: 0.4;
margin: 0;

}
.stats-container .product_price{
float: right;
font-weight: 500;
font-size: 28px;
text-align: right;
color: #000;

}








