@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body{
    font-size: 14px;
    background-color: #F1F2F5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
    justify-content: center;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #000;

}
a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a:focus, button:focus {
    outline: 0;
}
















.container{
  display: grid;
  justify-content: center;
}
.box{
  width: 560px;
  height: 315px;
  margin-right: 20px;
  background: #fff;
  display: flex;
  flex-direction: row;



}


.container .box .img-box{
  max-width: 100%;
  height: 100%;
}
.container .box .img-box img{ 
  width: 280px;
  height: 315px;
  
}
.content-box{
  padding: 20px;
  padding-top: 55px;
  position: relative;
}
.content-box p{
font-weight: 300;
font-size: 14px;
text-align: left;
color: #727278;
}
.content-box h4{
font-weight: 400;
font-size: 14px;
text-align: left;
color: #373742;

}

.content-box::before{
  content: '';
  position: absolute;
  top: 25px;
  left: 21px;
  width: 40px;
  height: 30px;
  background: url(../img/quote.png);
  background-size: cover;
  opacity: 1;
}

.swiper-container {
  width: 800px;
  height: 315px;
}



.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 25px!important;
  color: #a5a5a5;
  font-weight: 800;
  justify-content: left!important;
  }

/* Responsive css*/


@media (max-width: 1200px){
  .team-box{
    width: 1200px;
    height: 600px;
    flex-direction: row;
    }


    .link-bg {
      width: 1200px;
      height: 88px;

    }
}

@media (max-width: 992px) {
  .team-box{
    width: 755px;
    height: 600px;
    flex-direction: row;
    }

    .single-team-box .team-desc .authors-comment {
      font-size: 16px;
      font-weight: 300;
  }
  .single-team-box .team-desc {
    padding: 0 30px;
}
    .link-bg {
      width: 755px;
    }
    .link-bg .link-text {
      left: 36%;
      }
    
}

@media (max-width: 768px) {
 
/* style.css | file:///C:/Users/Al-Amin/Desktop/rig-elements-advance-testimonial/assets/css/style.css */

.container .box .img-box img {
  /* width: 280px; */
  /* height: 315px; */
  width: 150px;
  height: 150px;
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);  
}

.content-box p {
  margin-top: 113px;
}

.content-box::before {
  /* top: -10px; */
  /* left: 21px; */
  top: 90px ;
}

.box {
  /* width: 560px; */
  width: 371px;
}


@media (max-width: 580px){

  .single-team-box {
    margin-left: 5rem;
}


  .link-bg .link-text {
    left: 20%;
}
}


@media (min-width: 428px){
  .team-box {
    height: auto;

}


}

@media (max-width: 428px){
  .team-box {
    height: auto;

}

.single-team-box {
    margin-left: 0;

}

.link-bg .link-text {
  left: 10%;

}
  
}

