
@font-face{
  font-family: 'HKGrotesk-regular';
  src: url(../font/HKGrotesk-Regular.ttf);
}

@font-face{
  font-family: 'HKGrotesk-SemiBold';
  src: url(../font/HKGrotesk-SemiBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


/*
  font-family: 'HKGrotesk-regular';
  font-family: 'HKGrotesk-SemiBold';
  font-family: 'Karla', sans-serif;


*/
body{
    font-size: 14px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}













/* --- Popular Post ---- */
.ppo{
  display: flex;

}



.wrapper{
  width: 370px;
  height: 460px; 
  background: #fff;
  margin-right: 20px;

}







.container{
  width: 330px;
  height: 160px;
  border-radius: 5px;
  background: #000;
  margin-top: -85px;
  position: absolute;
  color: #fff;

  }


.container-white{
background: #fff;
color: #171717;

}

.container-white p{
  color: #171717;

}







.wrapper-text{
  text-align: center;
  margin-top: 15px;
}



.item-2{
  margin-left: 20px;
}

.item-2 h3{
  font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 12px;
text-align: center;
color: #e02020;
text-transform: uppercase;
}

.item-2 p{
  width: 290px;
  height: 56px;
  font-family: 'HKGrotesk-SemiBold';
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-left: 20px;
  margin-top: -1px;
  margin-bottom: 3px;

}


.item-2 span{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-align: left;
color: #666;


}

.item-2 span a{
  color: #d0021b;

}

