@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
/* *{
    margin: 100px 100px;

    box-sizing: border-box;
} */
.rig_dual_button{
    display: flex;
    justify-content: flex-start; /* alignment */

}

.button1{
    background: linear-gradient(#FF5A60, #F7931E);
    /*background-color: #f7931e;*/ /*button bg color*/  
}
.button1:hover{
    background: linear-gradient(90deg,#F7931E,#FF5A60);
    transition: .4s ;
}
.button1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.button2:nth-child(2n){
    background: #F7931E;
    border-radius: 20px 0px 0px 20px;
 }
.button2:nth-child(3n){
   background: #F7931E;
   border-radius:0px 20px 20px 0px ;
}
.button2:nth-child(2){
    background: #F7931E;
    border-radius: 30px ;
 }
.button2:hover{
    background: linear-gradient(90deg,#F7931E,#FF5A60);
    transition: .4s ;
}
.button2 a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}





























.default{
    padding-top: 14px;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 14px;

}
.default a{
    font-size: 16px;
}
.small{
    padding-top: 12px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 12px;
    font-size: 10px;

}
.small a{
    font-size: 14px;
}
.extra-sm{
    
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 8px;

}
.extra-sm a{
    font-size: 10px;
}
.large{
    padding-top: 18px;
    padding-right: 33px;
    padding-left: 33px;
    padding-bottom: 18px;

}
.large a{
    font-size: 18px;
}
.extra-large{
    padding-top: 20px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 20px;

}
.extra-large a{
    font-size: 20px;
}
.gap{
    width: 10px;
}
