
/*
  font-family: 'HKGrotesk-regular';
  font-family: 'HKGrotesk-SemiBold';
  font-family: 'HKGrotesk-Medium';


*/
@font-face{
  font-family: 'HKGrotesk-regular';
  src: url(../font/HKGrotesk-Regular.ttf);
}

@font-face{
  font-family: 'HKGrotesk-Medium';
  src: url(../font/HKGrotesk-Medium.ttf);
}

@font-face{
  font-family: 'HKGrotesk-SemiBold';
  src: url(../font/HKGrotesk-SemiBold.ttf);
}


body{
    font-size: 14px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;
}
.wrapper{
  width: 770px;
  height: 746px;   
  background: #fff;
  margin-right: 20px;

}

.wrapper-text{
  text-align: left;
}

.item-1 h3{
font-family: 'HKGrotesk-Medium';
font-weight: normal;
font-size: 14px;
color: #4a90e2;
text-transform: uppercase;
margin: 0;

}



.item-1 h2{
  font-family: 'HKGrotesk-Medium';
  font-weight: normal;
font-size: 30px;
text-align: left;
color: #171717;
margin: 0;

}





.item-1 span{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 12px;
line-height: 14px;
color:  #666;
margin-bottom: 25px;
display: inline-block;

}

.item-1 span a{
  color: #171717;

}

.item-3 p{
width: 700px;
height: 72px;
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: left;
color: #666;

}

button{
width: 160px;
height: 50px;
background: transparent;
border: 1px solid #e5e5e5;
color: #666;


}
button a{
  font-family: 'HKGrotesk-Medium';
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #666;
  }