@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*
font-family: 'Roboto', sans-serif;

*/
body {
  background: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

a{
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus, button:focus {
  outline: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}










.testimonial {
  background: #fff;
  overflow: hidden;
  width: 440px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.testimonial-body {
  padding: 40px 40px 80px;
  position: relative;
}

.testimonial-body p {
  font-family: 'rubik';
  color: #555;
  font-size: 25px;
  line-height: 46px;
  margin: 0;
  font-weight: 300;
}
.testimonial-body::before{
  content: '';
  background: url(../img/Fill\ 1.png);
  height: 53px;
  width: 62px;
  position: absolute;
  top: 73%;
  right: 13%;
}

.testimonial-footer {
  background: #7180E1;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.testimonial-footer img {
  border-radius: 50%;
  border: 5px solid white;
  height: 120px;
  width: 120px;
  margin-top: -100px;
}

.testimonial-footer h3 {
  margin: 30px 0 5px 0;
  text-transform: uppercase;
  font-family: 'roboto';
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
}

.testimonial-footer h4 {
  margin: 0;
  letter-spacing: 1px;
  font-family: roboto;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #bac3ff;

}








/* Responsive css*/


@media (max-width: 1200px){

}

@media (max-width: 992px) {
  body {

    flex-direction: column;

  }
}

@media (max-width: 768px) {
 
}


@media (min-width: 428px){


}

@media (max-width: 428px){
  

  
}

