
@font-face{
  font-family: 'HKGrotesk-regular';
  src: url(../font/HKGrotesk-Regular.ttf);
}

@font-face{
  font-family: 'HKGrotesk-SemiBold';
  src: url(../font/HKGrotesk-SemiBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


/*
  font-family: 'HKGrotesk-regular';
  font-family: 'HKGrotesk-SemiBold';
  font-family: 'Karla', sans-serif;


*/
body{
    font-size: 14px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;

}
.wrapper{
  width: 370px;
  height: 110px; 
  display: flex; 
  background: #fff;
  margin-right: 20px;

}

img{
width: 110px;
height: 110px;

}
.item-2{
  margin-left: 20px;
}

.item-2 h3{
font-family: 'Karla', sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 28px;
text-align: left;
font-size: 14px;
color: #e02020;
margin-bottom: -15px;
margin-top: 0px;

}

.item-2 span{
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-align: left;
color: #666;


}

.item-2 span a{
  color: #d0021b;

}

.item-2 p{
width: 240px;
height: 35px;
font-family: 'HKGrotesk-regular';
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: left;
color: #171717;


  
}