/*-----------------------------------------------------------------------------------

 Theme Name: Muli
 Theme URI: http://
 Description: The Multi-Purpose Onepage Template
 Author: ui-themez
 Author URI: http://themeforest.net/user/ui-themez
 Version: 1.0

 Main Color   : #EE3158
 main Font    : Poppins,Muli

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------

 == Table Of Content

 01 Basics
 02 Buttons
 03 Navbar
 04 Header
 05 Hero
 06 section-box
 07 Services
 08 Numbers
 09 Works
 10 Team
 11 Price
 12 Testimonials
 13 Blog
 14 Subscribe
 15 Contact-Info
 16 Contact
 17 Footer
 18 spacial pages
 19 Responsive
 

---------------------------------------------------------------- */

$main-color: #EE3158;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;

/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 list-style: none;
 word-wrap: break-word;

}

body {
 color: #222;
 line-height: 1.3;
 font-weight: 400;
 font-size: 14px;
 font-family: 'Poppins', sans-serif;
 overflow-x: hidden !important;
}

p {
 font-family: 'Muli', sans-serif;
 font-size: 14px;
 font-weight: 400;
 color: #7f7f7f;
 line-height: 1.8;
 margin: 0;
}

h1,h2,h3,h4{
 font-weight: 700;
}

h5,h6{
 font-weight: 600;
}

img {
 width: 100%;
 height: auto;
}

span, a, a:hover {
 display: inline-block;
 text-decoration: none;
 color: inherit;
}

.section-padding{
 padding: 120px 0;
}

.section-head{
 margin-bottom: 80px;

 h6{
  color: #777;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
 }

 h4{
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
  position: relative;
  padding-bottom: 15px;

  &:after{
  	content: '';
  	width: 60px;
  	height: 1px;
  	background-color: $main-color;
  	position: absolute;
  	bottom: 0;
  	left: calc(50% - 30px);
  }

  span{
  	font-weight: 700;
  }
 }
}

.bg-gray{
 background: #f7f7f7;
}

.o-hidden {
 overflow: hidden;
}

.position-re {
 position: relative;
}

.full-width{
 width: 100% !important;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}

.lg-line-height{
 line-height: 1.5;
}

.half-content{
 position: relative;
 z-index: 3;

 h5,h6{
  color: inherit !important;
 }
}

.bg-img{
 background-size: cover;
 background-repeat: no-repeat;
}

.bg-fixed{
 background-attachment: fixed;
}

.pattern{
 background-repeat: repeat;
 background-size: auto;
}

.sub-title{
 font-size: 15px;
 font-weight: 400;
 color: $main-color;
 margin-bottom: 10px;
}

.bold{
 font-weight: 800;
}

.count{
 font-family: 'Dosis', sans-serif;
}

#particles-js{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
}

.valign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled+.owl-dots{
 margin-top: 20px;
 line-height: .7;
}

.owl-theme .owl-dots .owl-dot span{
 width: 8px;
 height: 8px;
 margin: 0 7px;
 border-radius: 50%;
 background: #ddd;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
 background: $main-color;
}

// Animate Headline

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


/* xclip */

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/

.butn{
 padding: 12px 30px;
 background: #fff;
 border: 1px solid transparent;
 position: relative;
 z-index: 3;
 margin-left: 10px;
 margin-right: 10px;
 box-shadow: -10px 10px 30px rgba(0,0,0,.1);
 transition: all .4s;
 border-radius: 30px;
 cursor: pointer;
 outline: none !important;
 overflow: hidden;

 span{
  position: relative;
  z-index: 2;
  transition-delay: 0s;
 }

 &:before, &:after{
  content: '';
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.4s;
  z-index: 1;
  opacity: .4;
 }

 &:after{
  transition-delay: 0s;
  background: #fff;
  opacity: 1;
 }

 &:hover{

  &:before, &:after{
   width: 100%;
  }

  &:after{
   transition-delay: .2s;
  }

  span{
   transition-delay: .2s;
  }
 }
}

.butn-bord{
 border-color: $main-color;

 &:before, &:after{
  background: $main-color;
 }

 &:hover{

  span{
   color: #fff;
  }
 }
}

.butn-bg{
 background: $main-color;
 border-color: $main-color;
 color: #fff;

 &:hover{

  span{
   color: $main-color;
  }
 }
}

.butn-light{
 background: #fff;

 &:before, &:after{
  background: $main-color;
 }

 &:hover{

  span{
   color: #fff;
  }
 }

 span{
  color: $main-color;
 }
}

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/

.navbar{
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 background: transparent;
 z-index: 9;
 min-height: 70px;

 .icon-bar{
  color: #fff;
 }

 .navbar-nav{
  
  .nav-link{
   font-size: 13px;
   font-weight: 500;
   color: #eee;
   letter-spacing: 1px;
   margin: 15px 5px;
   transition: all .4s;

   &:hover{
     color: $main-color;
   }
  }

  .active{
   color: $main-color !important;
  }
 }
}

.nav-scroll{
 background: #fff;
 box-shadow: 0px 5px 30px rgba(0,0,0,.05);
 padding: 0;
 position: fixed;
 top: -100px;
 left: 0;
 width: 100%;
 transition: transform .5s;
 transform: translateY(100px);

 .icon-bar{
  color: #222;
 }

 .navbar-nav{

  .nav-link{
   color: #222;
  }

  .logo{
   padding: 15px 0;
   color: #111;
  }
 }
}

.logo{
 padding: 15px 5px;
 width: 80px;
}



.dropdown{

  &:hover{

    .dropdown-menu, .mega-menu{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }    
  }

  .nav-link{
    cursor: pointer;

    i{
      padding-left: 5px;
      font-size: 11px;
    }
  }
}

.dropdown-item{
  position: relative;

  &:hover{

    .sub-menu{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  span{
    display: block;
    cursor: pointer;
  }
}

.dropdown-menu,.sub-menu{
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  width: 200px;
  padding: 15px 10px;
  border-radius: 0;
  border: 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,.05);
  transition: all .3s;

  .dropdown-item{
    padding: 10px 15px;
    font-size: 13px;
    color: #777;
    position: relative;
    transition: all .4s;

    &:hover{
      background: transparent;
      padding-left: 20px;
      color: $main-color;
    }

    a{
      display: block;
    }

    i{
      padding: 5px 0 0 5px;
      font-size: 11px;
      float: right;
    }

    em{
      font-size: 8px;
      background-color: $main-color;
      padding: 2px 4px;
      color: #fff;
      border-radius: 2px;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}

.dropdown-menu{

  &.last{
    left: -100%;
  }
}

.sub-menu{
  position: absolute;
  left: 100%;
  top: -5px;

  &.left{
    left: -100%;
    margin-left: -20px;
  }
}

.mega-menu{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  right: -150px;
  width: 800px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,.05);
  transition: all .3s;

  .dropdown-title{
    display: block;
    color: $main-color;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 0 15px 15px;
    border-bottom: 1px solid #f7f7f7;
  }

  .dropdown-menu{
    position: static !important;
    float: left;
    box-shadow: none;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    transition: all .3s;
  }
}

/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 04 Start Header ]
-----------------------------------------------------------------*/

.header{
 min-height: 100vh;
 overflow: hidden;

 .caption{

  .o-hidden{
   display: inline-block;
  }

  h2{
  	font-weight: 300;
  	font-size: 30px;
  }

  h4{
   font-weight: 200;
   letter-spacing: 4px;
   animation-delay: .2s;
  }

  h1{
   margin: 10px 0;
   font-size: 60px;
   font-weight: 500;
   font-family: inherit;
   word-spacing: 2px;
   letter-spacing: 2px;
   animation-delay: .6s;
  }

  p{
   font-size: 15px;
   font-weight: 300;
   color: #eee;
   letter-spacing: 1px;
   word-spacing: 2px;
   animation-delay: 1s;

   span{
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 5px;
    padding-right: 14px;
    position: relative;

    &:last-child{
     padding: 0;

     &:after{
      display: none;
     }
    }

    &:after{
     content: '';
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: $main-color;
     position: absolute;
     top: 10px;
     right: 0;
     opacity: .5;
    }
   }
  }

  .butn{
   animation-delay: 1.2s;
  }
 }

 .social{

 	a{
 		color: #eee;
 		font-size: 13px;
 		margin: 10px 15px;
 	}
 }
}

.slider,.slider-fade{

 .owl-item{
  height: 100vh;
  position: relative;
 }

 .item{
  position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-size: cover;

     .caption{
      z-index: 9;
     }
 }

 .owl-theme .owl-dots{
  position: absolute;
  bottom: 5vh;
  width: 100%;
 }
}

.page-header{
 height: 70vh;

 h6{
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;

  a{

   &:hover{
    color: $main-color;
   }
  }

  i{
   margin: 0 15px;
   font-size: 10px;
  }
 }

 h1{
  margin-bottom: 10px;
  font-weight: 600;
 }
}

/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 05 Start Hero ]
-----------------------------------------------------------------*/

.hero{
 position: relative;

 &:after{
  content: "";
  width: 40%;
  height: 250px;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: -1;
 }

 .intro{

  h4{
   font-weight: 500;
  }

  h3{
   margin-bottom: 30px;
   padding-bottom: 30px;
   position: relative;

   &:after{
    content: '';
    width: 70px;
    height: 1px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
   }
  }

  h6{
   font-weight: 300;
   line-height: 1.4;
  }

  p{
   font-size: 16px;
  }
 }

 .feat-numb{

  span{
   font-family: 'Dosis', sans-serif;
   font-weight: 300;
   font-size: 40px;
   color: $main-color;
   margin-bottom: 15px;
  }

  h6{
   margin-bottom: 15px;
  }
 }
}

.hero-cr{

 .intro{

  h4{
   font-weight: 500;
   letter-spacing: 1px;
   margin-bottom: 20px;
   padding-bottom: 20px;
   position: relative;

   &:after{
    content: '';
    width: 80px;
    height: 1px;
    background: $main-color;
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
   }
  }
 }

 .item{
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.05);

  .icon{
   font-size: 35px;
   color: $main-color;
   margin-bottom: 25px;
  }

  h5{
   font-size: 16px;
   margin-bottom: 15px;
  }
 }

 .bg-color{
  background: $main-color !important;

  .icon{
   color: #fff;
  }

  h5{
   color: #fff;
  }

  p{
   color: #ccc;
  }
 }

 .bg-dark{
  background: #1a1d24 !important;

  h5{
   color: #fff;
  }

  p{
   color: #ccc;
  }
 }

 .numb{

  h3{
   margin-bottom: 10px;
   color: $main-color;
  }

  h6{
   font-weight: 400;
   font-size: 16px;
  }
 }
}

.hero-pr{

	.author-img{
		padding: 0 30px;
	}

	.content{
		padding-top: 50px;

		h3{
			margin-bottom: 30px;
		}

		h6{
			font-weight: 500;
			margin-bottom: 10px;
		}

		.sub{
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #aaa;
			font-weight: 300;
			margin-bottom: 30px;
		}

		p{
			margin-bottom: 10px;
			font-size: 16px;

			&:last-child{
				margin: 0;
			}
		}

		.butn{
			margin-left: 0;
		}
	}

	.skills{

		.skill-progress{
			height: 12px;
		}
	}
}

.feat-left{

 .item{

  .icon{
   float: left;
   width: 60px;
   height: 60px;
   line-height: 65px;
   border-radius: 50%;
   text-align: center;
   font-size: 30px;
   color: #fff;
   border: 1px solid $main-color;
   background-color: $main-color;
   margin-bottom: 40px;
   position: relative;
   box-shadow: 0px 10px 30px rgba(0,0,0,.1);

   &:after{
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    left: -11px;
    top: -11px;
    border-radius: 50%;
    border: 1px dashed #eee;
   }
  }

  h5{
   margin-bottom: 10px;
   font-size: 17px;
  }

  h5,p{
   margin-left: 90px;
  }
 }
}

.fet-img{

 img{
  border-radius: 5px;
  box-shadow: 0px 20px 40px -10px rgba(0,0,0,.1);
 }
}

.fet-cont{

 h3{
  font-weight: 200;
  line-height: 1.4;

  b{
   font-weight: 700;
  }
 }

 .circle {
     position: relative;
     text-align: center;
     line-height: 1.2;

     canvas{
      height: 100px;
      width: 100px;
      margin: 0 auto 10px;

      &:last-of-type{
       display: none;
      }
     }

     span{
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
     }
 }
}

/* ----------------------------------------------------------------
     [ End Hero ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 06 section-box ]
-----------------------------------------------------------------*/

.section-box{

 .half-img{
  background-position: 50% 50%;
 }

 .half-content{
  padding: 30px;
 }

 .box-white{
  padding: 100px 10%;
  background: #fff;
  box-shadow: 0px 8px 30px rgba(0,0,0,.08);
 }

 .accordion{

  .item{
   margin-bottom: 30px;
  }

  .title{
   padding: 10px 20px;
   background: #fff;
   box-shadow: 0px 10px 30px rgba(0,0,0,.2);
   border-radius: 30px;
   cursor: pointer;
   position: relative;

   &:after{
    content: '\f067';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 20px;
   }

   h6{
    font-size: 14px;
    font-weight: 600;
   }
  }

  .accordion-info{
   display: none;
   padding: 0px 15px;
   margin-top: 30px;
   border-left: 1px dotted #ccc;

   .spac{
    margin-top: 30px;
    padding-left: 30px;

    h6{
     position: relative;
     margin-bottom: 15px;

     &:after{
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #555;
      position: absolute;
      top: 3px;
      left: -15px;
     }
    }

    ul{
     padding-left: 30px;
    }

    li{
     margin-bottom: 10px;
     position: relative;
     font-size: 15px;

     &:after{
      content: "";
      width: 6px;
      height: 6px;
      border: 1px solid #222;
      border-radius: 50%;
      position: absolute;
      top: 9px;
      left: -15px;
     }
    }
   }
  }

  .active{
   display: block;

   .title{
    color: #fff;
    background: $main-color;
    background: linear-gradient(to right, $main-color , #e1284e);
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);

    &:after{
     content: '\f068';
    }
   }
  }
 }

 .vid-butn{
  font-size: 70px;
  color: $main-color;
  position: relative;
  width: 70px;
  height: 70px;
  line-height: 70px;
  z-index: 3;

  &:hover{

   &:after{
    transform: scale(2,2);
    opacity: 0;
    transition: all .5s;
   }
  }

  &:after{
   content: '';
   position: absolute;
   top: -10px;
   bottom: -10px;
   right: -10px;
   left: -10px;
   background: rgba(255,255,255,.4);
   border-radius: 50%;
   z-index: -1;
   transition: all .2s;
  }

  &:before{
   content: '';
   position: absolute;
   top: -5px;
   bottom: -5px;
   right: -5px;
   left: -5px;
   background: rgba(255,255,255,.6);
   border-radius: 50%;
   z-index: -1;
  }
 }

 .quote{
  display: inline-block;
  background: $main-color;
  padding: 50px 30px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 3;

  .icon{
   position: absolute;
   top: -20px;
   width: 100%;
   left: 0;
   font-size: 40px;
   color: #fff;
  }

  p{
   color: #eee;
   margin-bottom: 10px;
  }

  span{
   font-weight: 700;
  }
 }
}

.skills{

  .skill-item{
   margin-bottom: 30px;

   &:last-child{
    margin-bottom: 0;
   }

   h6{
    font-size: 14px;
    margin-bottom: 10px;
   }
  }

  .skill-progress{
   width: 100%;
   height: 20px;
   border: 4px solid #f7f7f7;
   background: #f7f7f7;
   border-radius: 20px;
   position: relative;
   box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.08) inset;

   .progres{
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background: $main-color;
    background: linear-gradient(to right, $main-color , #e1284e);
    border-radius: 20px;
    transition: all 1s;

    &:before{
     content: attr(data-value);
     padding: 4px 10px 3px;
     border-radius: 10px;
     font-size: 10px;
     color: #fff;
     background: $main-color;
     background: linear-gradient(to right, $main-color , #e1284e);
     position: absolute;
     top: -35px;
     right: 0;
    }

    &:after{
     content: "";
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid $main-color;
        position: absolute;
        top: -12px;
        right: 15px;
    }
   }
  }
}

.skin{

	h6{
		font-weight: 400;
	}

	.skill-progress{
	   width: 100%;
	   height: 10px;
	   border: 1px solid rgba(255,255,255,.4);
	   background: rgba(255,255,255,.05);
	   border-radius: 20px;
	   position: relative;
	   box-shadow: none;

	   .progres{
		    position: absolute;
		    height: 100%;
		    width: 0;
		    left: 0;
		    top: 0;
		    background: $main-color;
		    background: linear-gradient(to right, $main-color , #e1284e);
		    border-radius: 20px;
		    transition: all 1s;

		    &:before{
		    	background: transparent;
		    }
		}
	}
}

/* ----------------------------------------------------------------
     [ End section-box ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 07 Start Services ]
-----------------------------------------------------------------*/

.services{

 .item{
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,.05);

  .icon{
   font-size: 35px;
   color: $main-color;
   margin-bottom: 25px;
  }

  h6{
   margin-bottom: 20px;
   font-weight: 500;
  }
 }
}

.serv-box{
 position: relative;
 z-index: 3;

 &:after{
  content: '';
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  position: absolute;
  left: -200px;
  top: 20%;
  z-index: -1;
  opacity: .7;
 }

 .item{
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  transition: all .4s;

  &:hover{
   color: #fff;

   .icon{
    color: #fff;
   }

   p{
    color: #ddd;
   }

   &:after{
    height: 100%;
   }
  }

  &:after{
   content: '';
   width: 100%;
   height: 0;
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: $main-color;
   z-index: -1;
   transition: all .4s;
  }
 }
}

.se-ico-left{

 .item{
  padding: 0;
  background-color: transparent;
  box-shadow: none;

  .icon{
   font-size: 35px;
   color: $main-color;
   margin-bottom: 0;
   float: left;
   width: 60px;
   height: 60px;
   line-height: 65px;
   text-align: center;
   border-radius: 50%;
   background-color: #fff;
  }

  h6{
   margin-bottom: 15px;
   margin-left: 80px;
   font-weight: 500;
  }

  p{
   margin-left: 80px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 08 Start Numbers ]
-----------------------------------------------------------------*/

.numbers{

 .icon{
  font-size: 45px;
  color: $main-color;
  margin-bottom: 30px;
 }

 h3{
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
 }

 h6{
  font-weight: 300;
 }
}

.states{

 .icon{
  font-size: 60px;
  margin-bottom: 10px;
  color: #eee;
 }

 .sub-title{
  color: $main-color;
 }

 h5{
  line-height: 1.5;
  font-weight: 200;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;

  &:after{
   content: '';
   width: 100px;
   height: 1px;
   background: $main-color;
   position: absolute;
   bottom: 0;
   left: calc(50% - 50px);
  }

  b{
   font-weight: 700;
  }
 }

 .item{

  h3{
   margin-bottom: 10px;
  }

  h6{
   font-weight: 400;
   font-size: 16px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Numbers ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 09 Start Works ]
-----------------------------------------------------------------*/

.works{

 .filtering{

  .filter{
   display: inline-block;
   padding: 2px 10px;
   border: 1px solid #eee;
   border-radius: 30px;
  }

  span{
   margin: 0 5px;
   padding: 8px 20px;
   font-size: 12px;
   font-weight: 500;
   border-radius: 30px;
   cursor: pointer;
  }

  .active{
   background: $main-color;
   background: linear-gradient(to right, $main-color , #e1284e);
   box-shadow: 0px 8px 30px -5px rgba(0,0,0,.2);
   color: #fff;
  }
 }

 .gallery{
 	padding-right: 0;
 	padding-left: 0;
 }

 .larg-padding{
  padding: 0 15px;

  .item-img{
   border: 10px solid #fff;
   margin-top: 30px;
  }
 }

 .no-padding{
  padding: 0;

  .item-img{
   margin-top: 0;
  }
 }

 .gutter{
  padding: 0 10px;

  .item-img{
    margin-top: 20px;
  }
 }

 .item-img{
  position: relative;
  margin-top: 30px;

  &:hover{

   .item-img-overlay{
    visibility: visible;
    opacity: 1;
   }
  }
 }

 .item-img-overlay{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 30px;
  background: rgba(0,0,0,.9);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;

  .icon{
   position: absolute;
   right: 30px;
   bottom: 30px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50%;
   border: 1px solid #eee;
   text-align: center;
   font-size: 20px;
   color: #eee;
  }

  p{
   color: $main-color;
   font-weight: 400;
  }

  h6{
   color: #fff;
   font-weight: 500;
   font-size: 16px;
   margin-top: 5px;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Works ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 10 Start Team ]
-----------------------------------------------------------------*/

.team{

 .item{
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;

  &:hover{

   .info{
    bottom: 50px;
   }

   .team-img{
    
    &:after{
     opacity: 1;
     visibility: visible;
    }
   }
  }

  .team-img{
   overflow: hidden;   
   border-radius: 4px;
   position: relative;

   &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    background: linear-gradient(to top, #111, rgba(0,0,0,.4));
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
   }
  }

  .info{
   position: absolute;
   bottom: -500px;
   left: 0;
   padding: 0 15px;
   width: 100%;
   z-index: 4;
   transition: all .4s;

   h6{
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 5px;
   }

   span{
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
    color: $main-color;
   }

   p{
    margin-bottom: 10px;
    color: #a9a9a9;
   }

   .icon{
    margin: 0 10px;
    font-size: 12px;
    color: #eee;
    cursor: pointer;
   }
  }
 }
}

/* ----------------------------------------------------------------
     [ End Team ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 11 Start Price ]
-----------------------------------------------------------------*/

.price{

 .pricing-tables{
  padding: 0 30px;
  
  [class*=col-]{
   padding: 0 30px;
  }
 }

 .item{
  padding: 30px;
  background: #fff;
  box-shadow: 0px 8px 30px rgba(0,0,0,.05);
  border-radius: 5px;

  .type{
   position: relative;
   margin-bottom: 15px;

   h4{
    font-size: 18px;
    font-weight: 500;
    color: #555;
   }
  }

  .value{
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 1px solid #eee;

   h3{
    font-size: 55px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    padding-left: 15px;

    span{
     font-size: 15px;
     position: absolute;
     top: 10px;
     left: 0;
    }
   }

   .per{
    font-size: 13px;
   }
  }

  .features{
   text-align: left;
   overflow: hidden;
   padding: 15px;

   ul{
    margin-bottom: 0;
   }

   li{
    margin-bottom: 15px;
    color: #777;
    font-size: 13px;

    &:last-child{
     margin-bottom: 0;
    }
   }
  }

  .order{
   margin-top: 30px;

   .butn{
    margin: 0;
    padding: 10px 30px;

    span{
     font-size: 13px;
     font-weight: 500;
    }
   }
  }

  &.active{
   box-shadow: 0px 15px 40px rgba(0,0,0,.1);
  }
 }
}

/* ----------------------------------------------------------------
     [ End Price ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 12 Start Testimonials ]
-----------------------------------------------------------------*/

.testimonials{

 .icon{
  width: 70px;
  margin-bottom: 30px;
 }

 .item{

  h6{
   font-size: 15px;
   font-weight: 700;
   color: $main-color;
   margin: 50px 0 15px;
   position: relative;

   &:after{
    content: '';
    width: 1px;
    height: 30px;
    background-color: #eee;
    position: absolute;
    left: 50%;
    top: -40px;
    opacity: .5;
   }

   span{
    display: block;
    color: #eee;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
   }
  }

  p{
   color: #eee;
   font-size: 16px;
   font-weight: 200;
   word-spacing: 1px;
  }
 }

 .owl-theme .owl-nav [class*=owl-]{
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  background: rgba(255,255,255,.2);
  margin: 20px 5px 0;

  &:hover{
   background: $main-color;
  }
 }
}

.testimonials-grid{

 .item{
  background-color: #f7f7f7;
  padding: 50px 30px 80px;
  position: relative;
  z-index: 3;

  &:after{
   content: '';
   width: 96%;
   height: 96%;
   position: absolute;
   left: 2%;
   top: 2%;
   border: 1px solid #fcfcfc;
   z-index: -1;
  }

  .icon{
   position: absolute;
   bottom: 20px;
   right: 20px;
   z-index: -1;
   font-size: 60px;
   color: #f1f1f1;
   line-height: 1;
  }

  p{
   padding-bottom: 30px;
   margin-bottom: 30px;
   position: relative;
   border-bottom: 1px solid #eee;

   &:after{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    background-color: #f7f7f7;
    position: absolute;
    bottom: -10px;
    left: 50px;
    transform: rotate(-45deg);
   }
  }

  .info{

   .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0,0,0,.1);
    border: 2px solid #f6f6f6;
    float: left;
   }

   h6{
    padding-top: 10px;
    font-size: 14px;
    margin-left: 80px;

    span{
     margin-top: 5px;
     font-size: 12px;
     color: #999;
     font-style: italic;
    }
   }
  }
 }
}

.clients{

 a{
  opacity: .8;

  &:hover{
   opacity: 1;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Testimonials ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 13 Start Blog ]
-----------------------------------------------------------------*/

.blog{

 .item{
  box-shadow: 0px 20px 30px rgba(0,0,0,.05);
  background: #fff;
  border-radius: 5px;

  .post-img{
   padding: 8px;
   position: relative;

   .img{
    overflow: hidden;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,.1);
   }

   &:hover{

    img{
     transform: scale(1.1,1.1);
    }
   }

   img{
    transition: all .5s;
   }

   .tag{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    
    a{
      background-color: $main-color;
      padding: 5px 10px;
      border-radius: 20px;
      box-shadow: 0px 10px 20px rgba(0,0,0,.2);
    }

    .icon{
     font-size: 8px;
    }
   }
  }

  .cont{
   padding: 30px 15px 15px;
  }

  .info{
   margin-top: 15px;
   padding-top: 15px;
   border-top: 1px solid #eee;

   a{
    color: #999;
    font-weight: 600;
    font-size: 11px;

    .author{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     overflow: hidden;
     margin: 0 5px -6px 0;
     position: relative;
    }

    .icon{
     font-size: 12px;
     margin-right: 2px;
    }
   }

   .right{
    float: right;
   }
  }

  h6{
   font-size: 18px;
   margin-bottom: 15px;
  }
 }
}

.posts{

  .item{
    margin-bottom: 30px;

    .spical{
      margin: 15px;
      padding: 15px;
      border-left: 4px solid $main-color;
    }
  }

  .title{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
  }

  .comments,.add-comment{
    padding: 30px 15px;
    box-shadow: 0px 20px 30px rgba(0,0,0,.05);
    background: #fff;
    border-radius: 5px;

    .com{
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }

      &:nth-child(odd){
        margin-left: 50px;
      }
    }

    .img{
      width: 60px;
      height: 60px;
      float: left;
      border-radius: 50%;
      border: 1px solid #eee;
      overflow: hidden;
    }

    .cont{
      margin-left: 75px;

      h6{
        font-size: 12px;
        margin-bottom: 5px;
      }

      span{
        color: #999;
        font-size: 11px;
        font-style: italic;
        margin-bottom: 10px;
      }

      .reply{
        float: right;
        margin-right: 15px;
        margin-top: -15px;

        &:hover{
          color: $main-color;
        }
      }
    }
  }

  form{

    input,textarea{
      width: 100%;
      padding: 15px;
      background-color: #fafafa;
      border: 0;
    }

    textarea{
      height: 140px;
      max-height: 140px;
      max-width: 100%;
      margin-bottom: 10px;
    }

    .butn{
      margin: 30px 0 0 0;
      cursor: pointer;
    }
  }
}

.pagination{
  text-align: center;

  ul{
    margin: auto;
  }

  li{
    float: left;
    margin: 0 5px;

    a{
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .active{
    
    a{
      background-color: $main-color;
      color: #fff;
    }
  }
}

.side-bar{

  .widget{
    padding: 30px 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 20px 30px rgba(0,0,0,.05);
    margin-bottom: 30px;
    overflow: hidden;

    ul{
      margin-bottom: 0;

      li{
        margin-bottom: 10px;
        color: #444;
        font-size: 13px;

        &:last-child{
          margin-bottom: 0;
        }

        i{
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }

    .recent{

      li{
        display: block;
        overflow: hidden;
      }

      .thum{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
      }

      a{
        display: block;
        margin-left: 60px;
        line-height: 1.7;
      }
    }
  }

  .widget-title{
    margin-bottom: 30px;

    h6{
      font-size: 12px;
      text-transform: uppercase;
      background-color: #fff;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }

  .search{

    form{
      position: relative;

      input{
        width: 100%;
        padding: 10px;
        border: 0;
        border-bottom: 1px solid #eee;
      }

      button{
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        color: #999;
        border: 0;
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  .gallery{

    li{
      width: 33.33333%;
      float: left;
      border: 5px solid #fff;
    }
  }

  .tags{

    li{
      font-size: 12px;
      margin: 2px !important;
      padding: 5px 10px;
      background-color: $main-color;
      color: #fff !important;
      border-radius: 4px;
      float: left;

      &:hover{
        background-color: #222;
      }
    }
  }
}

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 14 Start Subscribe ]
-----------------------------------------------------------------*/

.subscribe{
 background-size: auto;
 background-repeat: repeat;

 h4{
  font-weight: 500;
  margin-bottom: 50px;
 }

 form{
  position: relative;
 }

 input{
  padding: 14px 10px;
  width: 100%;
  margin: auto;
  border: 0;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);
 }

 .butn{
  cursor: pointer;
  padding: 10px 0;
  width: 140px;
  border: 1px solid transparent;
  border-radius: 30px;
  position: absolute;
  top: 4px;
  right: -6px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);
  background: linear-gradient(to right, $main-color , #e1284e);

  &:hover{
   border-color: $main-color;
  }
 }

 &.sbc-bg{

  .sub-title{
   color: $main-color;
  }

  h5{
   margin-bottom: 15px;
   letter-spacing: 2px;
  }

  p{
   margin-bottom: 50px;
  }

  input{
   background: transparent;
   border: 1px solid #eee;
   color: #eee;
  }
 }
}

/* ----------------------------------------------------------------
     [ End Subscribe ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 15 Start Contact-Info ]
-----------------------------------------------------------------*/

.page-contact-info{
 position: relative;

 .item{
  padding: 100px 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &:last-child{
   border-right: 0;
  }

  .icon{
   font-size: 30px;
   color: $main-color;
   margin-bottom: 15px;
  }

  h6{
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 10px;
  }
 }
}

.bmtit{
 position: absolute;
 bottom: -7px;
 left: 0;
 width: 100%;
 text-align: center;

 span{
  padding: 0 30px;
  background-color: #fff;
  font-size: 12px;
  color: #999;
 }
}

/* ----------------------------------------------------------------
     [ End Contact-Info ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 16 Start Contact ]
-----------------------------------------------------------------*/

.page-contact{
 position: relative;
 border-bottom: 1px solid #eee;
}

.form{

 input,textarea{
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  width: 100%;
  padding: 15px;
  border-radius: 30px;

  &:focus{
   border-color: #ddd;
  }
 }

 textarea{
  height: 160px;
  max-height: 160px;
  max-width: 100%;
 }

 .form-group{
  position: relative;
 }

 .help-block{

  li{
   color: #ce7373;
   font-size: 11px;
   font-weight: 500;
   position: absolute;
   top: 15px;
   right: 15px;
  }
 }
}

.page-social{
 text-align: center;

 a{
  padding: 12px 60px;
  border-radius: 30px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  transition: all .2s;

  &:hover{
   background-color: transparent;
   color: #555;
  }
 }
}

.page-map{
 background-color: #f7f7f7;

 #ieatmaps{
  height: 400px;
 }
}

/* ----------------------------------------------------------------
     [ End Contact ]
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
     [ 17 Start Footer ]
-----------------------------------------------------------------*/

.one-footer{
 background: #111;
 padding: 80px 0;

 .social{

  a{
   color: #fff;
   font-size: 13px;
   width: 35px;
   height: 35px;
   line-height: 35px;
   border-radius: 50%;
   background: #222;
   margin: 15px 5px;

   &:hover{
    background: $main-color;
   }
  }
 }

 p{
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
 }
}

.footer{
 background-color: #171717;
 padding: 50px 0 0;
 color: #eee;

 .title{

  h5{
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-bottom: 1px solid #333;
   padding-bottom: 10px;
   margin-bottom: 30px;
  }
 }

 .info{

  .logo{
   padding: 0;
   margin-bottom: 10px;
  }

  h6{
   font-size: 12px;
   font-weight: 300;
   letter-spacing: 1px;
   margin-bottom: 15px;

   i{
    color: $main-color;
   }
  }

  p{
   margin-bottom: 30px;
  }

  span{
   margin-right: 10px;
   font-size: 11px;
  }

  .icon{
   margin-right: 15px;
   font-size: 11px;

   &:hover{
    color: $main-color;
   }
  }
 }

 .las-post{

  .thum{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   float: left;
  }

  .cont{
   margin-left: 70px;
  }

  h6{
   font-weight: 500;
   font-size: 12px;
   margin-bottom: 5px;
   padding-top: 5px;
  }

  p{
   font-size: 11px;

   span{
    font-weight: bold;
   }
  }
 }

 .tags{

  span{
   padding: 7px 15px;
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   background-color: rgba(255,255,255,.04);
   margin-bottom: 6px;
   margin-right: 2px;

   &:hover{
    background-color: $main-color;
   }
  }
 }

 .sub-footer{
  padding: 20px 0;
  margin-top: 50px;
  background-color: #131313;
 }
}

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
   [ 19 Spacial Pages ]
-----------------------------------------------------------------*/

.error{
  padding: 200px 0;

  h2{
    font-size: 150px;
    margin-bottom: 15px;

    i{
      font-size: 120px;
    }
  }

  p{
    font-size: 17px;
    margin-bottom: 30px;
  }

  .butn{

    &:hover{

      span{
        color: #222 !important;
      }
    }
  }
}

.comming{

  form{
    margin-top: 30px;
    position: relative;

    input{
      width: 100%;
      padding: 10px 50px 10px 10px;
      background-color: transparent;
      border: 1px solid #eee;
      border-radius: 5px;
      color: #fff;
      margin-bottom: 15px;
    }

    button{
      background-color: $main-color;
      padding: 8px 10px;
      border-radius: 5px;
      color: #fff;
      border: 0;
      position: absolute;
      top: 3px;
      right: 3px;
      cursor: pointer;

      &:hover{
        background-color: #fff;
        color: $main-color;
      }
    }
  }

  .social{

    a{

      &:hover{
        color: $main-color;
      }
    }
  }
}

.faq{

  .accordion{

    .title{
      padding: 15px 30px;
      box-shadow: 0px 10px 30px rgba(0,0,0,.1);
    }

    ul{

      li{
        font-size: 13px;
        color: #555;
        margin-bottom: 10px;

        &:last-child{
          margin-bottom: 0;
        }

        i{
          color: $main-color;
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------
     [ End Spacial Pages ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
   [ 19 Responsive ]
-----------------------------------------------------------------*/

@media screen and (max-width: $desk-md-screen){

 .mb-md50{
  margin-bottom: 50px;
 }

 .mb-md30{
  margin-bottom: 30px;
 }

 .mb-md15{
  margin-bottom: 15px;
 }

 .mb-md0{
  margin-bottom: 0;
 }

 .md-text-center{
 	text-align: center !important;
 }

 .bgimg-height{
  height: 400px;
 }

 .bg-fixed{
  background-attachment: scroll !important;
 }

 .navbar{

  .logo{
    margin-left: 15px;
  }

  button{
    margin-right: 15px;
    outline: none !important;
  }

  .container{
    max-width: 100%;
  }

  .navbar-collapse{
   max-height: 340px;
   overflow: auto;
   background: #111;
   text-align: left;
   padding: 10px 30px;
  }

  .nav-link{
   margin: 10px auto !important;
   }
  }

  .nav-scroll{

   .navbar-collapse{

   .nav-link{
    color: #fff !important;
   }

   .active{
    color: $main-color !important;
   }
  }
 }

 .dropdown-menu{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background-color: #222;
  width: 100%;
  display: none;

  .sub-menu{
    position: static;
    margin-top: 15px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #333;
    width: 100%;
    display: none;
  }
 }

 .dropdown{

  &:hover{

    .dropdown-menu,.mega-menu{
      display: block;
    }
  }

  .dropdown-menu{

    &:hover{

      .sub-menu{
        display: block;
      }
    }
  }

  .mega-menu{
    width: 100%;
    position: static;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #222;
    width: 100%;
    display: none;

    .dropdown-menu{
      border: 0;
      margin: 0;
    }

    .dropdown-title{
      border-bottom-color: #444;
    }
  }
 }

 .header{
  background-attachment: scroll !important;
  background-position: 50% 0% !important;

  .caption{

   h4{
    font-size: 30px;
   }

   h1{
    font-size: 45px;
    line-height: 1.4;
   }
  }
 }

 .price{

 	.item{
 		text-align: center;

 		.features{
 			text-align: center;
 		}
 	}
 }

 .subscribe.sbc-bg h5{
 	font-size: 22px;
 }
}

@media screen and (max-width: $tablet-sm-screen){

 .mb-sm50{
  margin-bottom: 50px;
 }

 .mb-sm30{
  margin-bottom: 30px;
 }

 .section-box h3{
  font-size: 25px;
  line-height: 1.3;
 }

 .hero .intro h3{
  font-size: 28px;
 }

 .hero .intro h4{
  font-size: 20px;
 }

 .subscribe h4{
  font-size: 20px;
  margin-bottom: 30px;
 }

 .bgimg-height-sm{
  height: 400px;
 }

 .header{

  .caption{

   h4{
    font-size: 16px;
   }

   h1{
    font-size: 22px;
   }

   p{
    font-size: 14px;
    margin-bottom: 15px;
   }

   .butn{
    	margin-top: 15px !important;
    }
  }
 }

 .portfolio .filtering span{
  margin-bottom: 10px;
 }
}

@media screen and (max-width: $mobile-xs-screen){

 .section-head h4{
  font-size: 18px;
 }

 .section-box .accordion .title h6{
  line-height: 1.5;
  font-size: 14px;
 }

 .section-box .half-content{
  padding: 15px;
 }

 .works .filtering{
  padding: 0;
 }

 .works .filtering .filter{
  border: 0;
  padding: 0;
 }

 .works .filtering span{
  margin: 0 0 5px;
 }
}






