/*
  font-family: 'HKGrotesk-regular';
  font-family: 'HKGrotesk-SemiBold';
  font-family: 'HKGrotesk-Medium';


*/
@font-face{
  font-family: 'HKGrotesk-regular';
  src: url(../font/HKGrotesk-Regular.ttf);
}

@font-face{
  font-family: 'HKGrotesk-Medium';
  src: url(../font/HKGrotesk-Medium.ttf);
}

@font-face{
  font-family: 'HKGrotesk-SemiBold';
  src: url(../font/HKGrotesk-SemiBold.ttf);
}



body{
    font-size: 14px;
    background-color: #fff;
    overflow-x: hidden;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'hk-grotesk';
  color: #000;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
    
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


/* Add some padding inside the card container */
.container{
	background:#fff;	
}















/* --- Popular Post 1 ---- */
.ppo{
  display: flex;
}
.wrapper{
  width: 770px;
  height: 604px;
     
  background: #fff;
  margin-right: 20px;

}

.wrapper-text{
  text-align: left;
}

.item-1 .wrapper-text{
  margin: 15px 0;
}




.item-2 h2{
font-family: 'HKGrotesk-SemiBold';
font-weight: normal;
font-size: 22px;
color: #171717;
margin: 0;

}









.item-2 span{
  width: 344px;
  height: 45px;
font-family: 'Merriweather', serif;
font-weight: 400;
font-size: 14px;
color: #999999;
text-align: center;

}
.item-2 span a{
color: #666;
font-weight: 400;
font-size: 13px;
padding-left: 3px;
padding-right: 3px;

}


.item-2 p{
margin: 5px 0;
width: 660px;
height: 72px;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: left;
color: #666;

  
  }
/* Button customize*/

button{
  width: 190px;
  height: 50px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #e5e5e5;
  margin-top: 25px;
  
  
  


}
button a{
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #666;
  

  }